:root {
  --text: #34464B;
  --text-light: #9CB3BA;
}

html, body, #root {
  min-height: 100vh;
}

body {
  background-color: #FFFFFF;
  color: var(--text);
  font-family: Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

